name: CI - Events Committee

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run code formatting check
        run: npm run fmt:check
  playwright-tests-proposal:
    name: Proposal - Playwright tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
      - name: Install dependencies
        run: |
          npm ci
          curl --proto '=https' --tlsv1.2 -LsSf https://github.com/mpeterdev/bos-loader/releases/download/v0.7.1/bos-loader-v0.7.1-installer.sh | sh
          npx playwright install-deps
          npx playwright install
      - name: Run tests
        run: |
          INSTANCE=events npx playwright test --project=events playwright-tests/tests/proposal
  playwright-tests-events:
    name: Events Committee - Playwright tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "npm"
      - name: Install dependencies
        run: |
          npm ci
          curl --proto '=https' --tlsv1.2 -LsSf https://github.com/mpeterdev/bos-loader/releases/download/v0.7.1/bos-loader-v0.7.1-installer.sh | sh
          npx playwright install-deps
          npx playwright install
      - name: Run tests
        run: |
          INSTANCE=events npx playwright test --project=events playwright-tests/tests/events
